version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0000
      POSTGRES_DB: data
    ports:
      - "5432:5432"
    networks:
      - monitoring
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    networks:
      - monitoring
    restart: unless-stopped

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:0000@host.docker.internal:5432/data?sslmode=disable"
    ports:
      - "9187:9187"
    networks:
      - monitoring
    restart: unless-stopped
    depends_on:
      - postgres

  custom_exporter:
    image: python:3.10
    container_name: custom_exporter
    working_dir: /app
    command: >
      sh -c "pip install -q prometheus_client requests &&
             exec python custom_exporter.py"
    volumes:
      - ./custom_exporter.py:/app/custom_exporter.py
      - ./requirements.txt:/app/requirements.txt
    ports:
      - "8000:8000"
    networks:
      - monitoring
    restart: unless-stopped

volumes:
  grafana_data:

networks:
  monitoring:
    driver: bridge